/* scssをここに書いて、gulpを起動してscssをコンパイルし、cssに変換する
npx gulp
でgulpfile.jsの内容でgulpを起動
*/

.rel{
	position: relative;
}

.abs{
	position: absolute;
}



/* トップ */
.top-wrapper {
	.img-top {
		width: 100%;
	}
	.title-logo{
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		img {
			width: 150px;
		}
	}
}

/* タイトル */
.title-wrapper {
	h1 {
		font-size: 90px;
	}
}
.title-content {
	img {
		width: 50px;
	}
}

/* トラックリスト */
.tracklist-wrapper {
	h2 {
		text-align: center;
	}
}
.tracklist-content {
	background-color: #000;
	color: #fff;
	p {
		font-size: 1rem;
	}
	.white-border {
		border-top: solid 1px #fff;
		width: 60%;
		height: none;
	}
}

/* インフォメーション */
.info-wrapper {
	h2 {
		text-align: center;
	}
}

.hdg-2{
	text-align: center;
}


footer {
	background: #000;
	text-align: center;
	color: #fff;
	p {
		line-height: .9;
		a {
			color: #fff;
		}
	}
}
