/* scssをここに書いて、gulpを起動してscssをコンパイルし、cssに変換する
npx gulp
でgulpfile.jsの内容でgulpを起動
*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Cardo|Noto+Sans+JP');
@import 'reset';
@import 'variable';

html {
	background: #5f5;
	font-variant-ligatures: none!important;
}

body, main {
	width: 100%;
	font-family: $serif;
	background: #fff;
	overflow-x: hidden;
}

section {
	&:not(:first-child) {
		margin-top: 150px;
	}
	h2 {
		font-size: 2.7rem;
		margin-bottom: 1em;
		text-align: center;
	}
	h3 {
		font-size: 2.3rem;
	}
	p {
		font-size: 1rem;
	}
}


/* トップ */
.top-wrapper {
	.img-top {
		width: 100%;
	}
	.title-logo{
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		img {
			margin: auto;
			width: 18vw;
			max-width: 180px
		}
	}
	.top-sp {
		display: none;
	}
}


/* タイトル */
.title-wrapper {
	.title-line {
		width: 1px;
		background: #444;
		height: 3rem;
		margin: 0 auto 30px;
	}
	h1 {
		font-variant-ligatures : none!important;
		font-size: 90px;
		letter-spacing: 0.2em;
		@media(max-width: 991px) {
			font-size: 72px;
		}
		@media(max-width: 768px) {
			font-size: 54px;
		}
		@media(max-width: 576px) {
			font-size: 45px;
		}
		@media(max-width: 450px) {
			font-size: 36px;
			letter-spacing: 0.3em;
		}
	}
}
.title-content {
	margin-top: 45px;
	p {
		letter-spacing: .4rem;
		font-size: 1.1rem;
	}
	.cross {
		width: 50px;
		margin: -9px auto 4px;
		opacity: 0.8;
	}
	.sub-title-typograph {
		max-width: 800px;
		margin: 10px auto 0;
		img {
			width: 60%;
			margin: auto;
		}
	}
}

/* トラックリスト */
.tracklist-content {
	background-color: #000;
	color: #eee;
	width: 75%;
	margin-left: auto;
	padding: 20px 10px 20px;
	.tracklist-heading-sp {
		display: none;
	}
	p {
		font-size: 14px;
		margin: 40px 0;
	}
	.white-border {
		border-top: solid 1px #aaa;
		width: 40%;
		margin: 60px 0 80px;
		height: none;
	}
}
.left-image {
	width: 65%;
	left: -36%;
	max-width: 500px;
	bottom: -60px;
	img {
		width: 100%;
	}
}

/* インフォメーション */
.info-wrapper {
	max-width: 1600px;
	h2 {
		margin-top: 250px;
		margin-bottom: 80px;
	}
}
.right-image {
	width: 49%;
	right: 0;
	max-width: 500px;
	top: 120px;
	z-index: 2;
	img {
		width: 100%;
	}
}
.dark-block {
	width: 40%;
	right: 8%;
	z-index: 0;
	max-width: 500px;
	height: 300px;
	background-color: #000;
	top: 900px;
}
.info-item {
	&:not(:first-child) {
		margin-top: 140px;
	}
	h3 {
		margin-bottom: 2rem;
		border-bottom: solid 1px #000;
		display: inline-block;
	}
	.item-large-text {
		font-size: 2.2rem;
		margin-top: .5rem;
		margin-bottom: -0.5rem;
	}
	.sub-text {
		color: #333;
		margin-top: 25px;
		font-size: 1.8rem;
	}
	.consign {
		border: solid 1px #000;
		padding: .6rem 1rem;
		margin-top: 50px;
		transition: 0.3s;
		display: inline-block;
		&:hover {
			background: #0ca;
			border: solid 1px #0ca;
			color: #fff!important;
			cursor: pointer;
			transition: 0.3s;
		}
	}
	.artist {
		margin-top: 30px;
		h4 {
			background: #000;
			color: #fff;
			display: inline-block;
			font-size: 1rem;
			padding: 0 .9rem;
			line-height: 1;
		}
		&__element {
			display: flex;
			align-items: baseline;
			.name {
				font-size: 1.4rem;
			}
			.job {
				font-size: .9rem;
			}
		}

	}
}

/*iframe*/
iframe {
	max-width: 100%;
}
.soundcloud {
	max-width: 100%;
	width: 900px;
}


/* share */
.snsshare {
	display: flex;
	justify-content: center;
	padding: 0 15px;
	.twitter {
		margin-right: 30px;
	}
	.facebook {
		margin-right: 15px;
	}
	.hatena {
		margin-left: 15px;
	}
	.line {
		margin-left: 30px;
	}
}
.line {
	padding: 0;
	margin-top: -3px;
	img {
		padding: 0;
		margin: 0;

	}
}

footer {
	background: #000;
	text-align: center;
	color: #fff;
	p {
		line-height: .9;
		a {
			color: #fff;
		}
	}
}


@import 'responsive';
